{% extends "template.html" %}
{% block conteudo %}
    <a class="btn btn-primary" href="{{ url_for('novousuario') }}">Crear usuario</a>    
    <a class="btn btn-primary" href="{{ url_for('actualizarusuario') }}"> Actualizar</a>
    <a class="btn btn-warning" href="{{ url_for('index') }}"> Volver a inicio</a>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID usuario</th>
                    <th>Nombre Usuario</th>
                    <th>Contraseña Usuario</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in usuario %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>
                        <a href="{{ url_for('editar', id=usuario.id) }}">Editar</a>
                        <a href="{{ url_for('deletar', id=usuario.id) }}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}